---
import EduTimeline from "../EduTimeline.astro";
import Section from "../layouts/Section.astro";
import SectionHeading from "../layouts/SectionHeading.astro";
---

<Section cssColor="#F1DFBC">
    <SectionHeading text="🎓 Academic Background"/>
    <EduTimeline />
</Section>
